.imgStyle {
	height: 100%;
	width: 100%;
	margin: 0;
}

.paragraphStyle {
	margin: 2rem;
}

.sectionStyle {
	margin: 0 0 4rem 0;
	text-align: center;
	font-size: 1.25rem;
}

.landingHrStyle {
	width: 300px;
}