.passHeaderStyle {
	text-align: center;
}

.passwordReq {
	margin: 2rem 2rem 6rem 2rem;
	border-color: #000000;
	border-width: thin;
	font-size: medium;
}

.passwordListStyle {
list-style-position: inside;
text-align: center;
margin: 0 2rem;
font-size: 1.25rem;
padding: 2rem;
border-color: black;
border-radius: 5px;
background-color: #f2f2f2;
}